<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Changer d'organisateur</title>
</head>
<body>
<h1>Changer d'organisateur</h1>
<a th:href="@{/seance/{id}/detail(id=${seance.id})}">Retour au détail de la séance</a>

<h2>Liste des organisateurs</h2>
<form method="post" th:action="@{/seance/{id}/changerOrganisateur/(id=${seance.id})}">
    <fieldset>
        <legend>Liste des organisateurs disponibles</legend>
        <div th:each="organisateur : ${changerOrganisateur}">
            <label>
                <input type="radio" name="organisateurId" th:value="${organisateur.id}" th:text="${organisateur.nom + ' ' + organisateur.prenom}"/>
            </label>
        </div>
    </fieldset>
    <br>
    <input type="submit" value="Ajouter">
</form>
</body>
</html>
